openapi: 3.0.0
info:
  title: pocket4cut web1 API docs
  description: pocket4cut web1팀의 API 문서입니다
  version: 0.1.9
servers:
  - url: 'https://port-0-langbot-backend-m22m0z85debbab55.sel4.cloudtype.app'
    description: pocket4cut
paths:
  '/api/user/{user_id}':
    get:
      tags:
        - User
      summary: Get user by ID
      description: 유저 ID를 통해 유저 정보를 조회합니다.
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: integer
          description: 조회할 유저의 ID
      responses:
        '200':
          description: 유저 정보 조회 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  email:
                    type: string
                  profileImage:
                    type: string
                    example: 'https://pocket-bucket.s3.ap-northeast-2.amazonaws.com/defaultProfileImage.jpg'
                    description: 사용자의 프로필사진이 없을 때(null)는 기본이미지url 반환
        '404':
          description: 유저를 찾을 수 없음
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: 유저를 찾을 수 없습니다.
        '500':
          description: 서버 오류로 인한 유저 조회 실패
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: 유저 조회 실패
    put:
      tags:
        - User
      summary: Update user information
      description: 유저 정보를 수정합니다.
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: integer
          description: 수정할 유저의 ID
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                files:
                  type: array
                  format: binary
      responses:
        '200':
          description: 유저 정보 업데이트 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  email:
                    type: string
                  profileImage:
                    type: string
                    description: 사용자가 프로필이미지를 삭제하면 null 반환
        '404':
          description: 유저를 찾을 수 없음
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: 유저를 찾을 수 없습니다.
        '500':
          description: 서버 오류로 인한 유저 수정 실패
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: 유저 업데이트 실패
        '502':
          description: 기존 이미지 삭제 실패
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: 기존 이미지 삭제 실패
    delete:
      tags:
        - User
      summary: Delete user
      description: 회원 탈퇴
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: integer
          description: 삭제할 유저의 ID
      responses:
        '204':
          description: 유저 탈퇴 성공
        '404':
          description: 유저를 찾을 수 없습니다.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: 유저를 찾을 수 없습니다.
        '500':
          description: 서버 오류로 인한 유저 삭제 실패
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: 유저 삭제 실패
  '/api/review/user/{user_id}':
    post:
      tags:
        - Review
      summary: Create a new review
      description: 포토부스에 대한 리뷰를 작성합니다.
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: integer
          description: 작성자의 ID
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                photobooth_name:
                  type: string
                  description: 포토부스 이름
                  example: 포토이즘박스 서울 숭실대점
                rating:
                  type: integer
                  description: 평점
                  example: 4
                booth_keyword:
                  type: array
                  items:
                    type: string
                  description: '포토부스 관련 키워드(사용자 선택값, 띄어쓰기없이)'
                  example:
                    - 넓은부스공간
                    - 청결한부스
                photo_keyword:
                  type: array
                  items:
                    type: string
                  description: '사진 관련 키워드(사용자 선택값, 띄어쓰기없이)'
                  example:
                    - 빛번짐없음
                    - 선명한화질
                content:
                  type: string
                  description: 리뷰 내용
                  example: 청결하고 넓어요. 사진이 예쁘게 나옵니다
                date:
                  type: string
                  format: date
                  description: 리뷰작성 날짜
                  example: '2023-09-25'
                files:
                  type: array
                  description: 이미지가 없으면 null값
                  items:
                    type: string
                  example:
                    - 'https://example.com/image1.jpg'
                    - 'https://example.com/image2.jpg'
    responses:
      '201':
        description: 리뷰 작성 성공
  '/api/review/mypage/{user_id}':
    get:
      tags:
        - Review
      summary: Get recent reviews for a user
      description: 마이페이지에서 사용자의 최근 리뷰를 가져옵니다. limit 파라미터를 통해 가져올 리뷰의 개수 제한 가능(더보기 이전 2개)
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: integer
          description: 사용자의 ID
        - in: query
          name: limit
          required: false
          schema:
            type: integer
          description: 가져올 리뷰의 개수 제한. 기본값은 전체 리뷰입니다.
      responses:
        '200':
          description: 리뷰 가져오기 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  reviewNum:
                    type: integer
                    description: 전체 리뷰 수
                    example: 3
                  recent_reviews:
                    type: array
                    items:
                      type: object
                      properties:
                        review_id:
                          type: integer
                          description: 리뷰 ID
                          example: 1
                        date:
                          type: string
                          format: date-time
                          description: 리뷰 작성 날짜
                          example: '2024-10-03T10:00:00Z'
                        photobooth_name:
                          type: string
                          description: 포토부스 이름
                          example: 포토이즘박스 공릉점
                        rating:
                          type: integer
                          description: 사용자가 매긴 평점
                          example: 5
                        image:
                          type: string
                          description: 이미지 URL
                          example: 'https://example.com/image.jpg'
                    nullable: true
        '500':
          description: 리뷰를 가져오는 중 오류가 발생했습니다.
  '/api/review/{review_id}':
    delete:
      tags:
        - Review
      summary: Delete a review
      description: 특정 리뷰를 삭제합니다.
      parameters:
        - in: path
          name: review_id
          required: true
          schema:
            type: integer
          description: 삭제할 리뷰의 ID
      responses:
        '200':
          description: 리뷰 삭제 성공
        '404':
          description: 리뷰를 찾을 수 없습니다.
        '500':
          description: 리뷰 삭제에 실패했습니다.
    get:
      tags:
        - Review
      summary: Get review details
      description: 특정 리뷰의 상세 정보를 조회합니다.
      parameters:
        - in: path
          name: review_id
          required: true
          schema:
            type: integer
          description: 조회할 리뷰의 ID
      responses:
        '200':
          description: 리뷰 상세정보 조회 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: 리뷰 ID
                  user_id:
                    type: integer
                    description: 작성자 ID
                  photobooth_id:
                    type: integer
                    description: 포토부스 ID
                  rating:
                    type: integer
                    description: 평점
                  booth_keyword:
                    type: array
                    items:
                      type: string
                    description: 포토부스 관련 키워드
                  photo_keyword:
                    type: array
                    items:
                      type: string
                    description: 사진 관련 키워드
                  content:
                    type: string
                    description: 리뷰 내용
                  image_url:
                    type: string
                    description: 이미지 URL
                  date:
                    type: string
                    format: date-time
                    description: 리뷰 작성 날짜
                  Photobooth:
                    type: object
                    properties:
                      name:
                        type: string
                        description: 포토부스 이름
                      brand:
                        type: string
                        description: 포토부스 브랜드
                      rating:
                        type: number
                        description: 포토부스 평균 평점
        '404':
          description: 리뷰를 찾을 수 없습니다.
        '500':
          description: 리뷰를 조회하는 중 오류가 발생했습니다.
  '/api/review/booth/{photobooth_id}':
    get:
      tags:
        - Review
      summary: Get reviews for a photobooth
      description: '해당 포토부스의 최신 리뷰 10개, 키워드 통계 가져옴'
      parameters:
        - in: path
          name: photobooth_id
          required: true
          schema:
            type: integer
          description: 포토부스의 ID
      responses:
        '200':
          description: 리뷰 가져오기 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  reviews:
                    type: array
                    items:
                      type: object
                      properties:
                        review_id:
                          type: integer
                          description: 리뷰 ID
                          example: 1
                        date:
                          type: string
                          format: date-time
                          description: 리뷰 작성 날짜
                          example: '2024-10-03T10:00:00Z'
                        photobooth_name:
                          type: string
                          description: 포토부스 이름
                          example: 포토이즘박스 공릉점
                        rating:
                          type: integer
                          description: 사용자가 매긴 평점
                          example: 5
                        user:
                          type: object
                          properties:
                            name:
                              type: string
                              description: 사용자 이름
                              example: 홍길동
                            profileImage:
                              type: string
                              description: 사용자 프로필 이미지 URL
                              example: 'https://pocket-bucket.s3.ap-northeast-2.amazonaws.com/defaultProfileImage.jpg'
                        booth_keyword:
                          type: object
                          properties:
                            keyword:
                              type: string
                              description: 부스 키워드
                              example: 깔끔한소품
                            count:
                              type: integer
                              description: 해당 리뷰에서 사용자가 등록한 부스 키워드 개수
                              example: 12
                          nullable: true
                        photo_keyword:
                          type: object
                          properties:
                            keyword:
                              type: string
                              description: 촬영 스타일 키워드
                              example: 선명한화질
                            count:
                              type: integer
                              description: 해당 리뷰에서 사용자가 등록한 촬영스타일 키워드 개수
                              example: 8
                          nullable: true
                        content:
                          type: string
                          description: 리뷰 내용
                          example: 부스가 깔끔하고 친절했어요.
                        image:
                          type: string
                          description: 첫 번째 이미지 URL
                          example: 'https://example.com/image1.jpg'
                          nullable: true
                        imageCount:
                          type: integer
                          description: 리뷰에 첨부된 이미지 수
                          example: 3
                  photoKeywordsTotalCount:
                    type: integer
                    description: 촬영 스타일 키워드 총 카운트 (모든 관련 키워드의 총 카운트 합계)
                    example: 20
                  boothKeywordsTotalCount:
                    type: integer
                    description: 부스 키워드 총 카운트 (모든 관련 키워드의 총 카운트 합계)
                    example: 15
                  photoKeywords:
                    type: array
                    items:
                      type: object
                      properties:
                        keyword:
                          type: string
                          description: 촬영 스타일 키워드 전체
                          example: 자연스러운보정
                        count:
                          type: integer
                          description: 포토부스에서 해당 촬영스타일키워드가 전체 몇 번 등록되었는지
                          example: 8
                  boothKeywords:
                    type: array
                    items:
                      type: object
                      properties:
                        keyword:
                          type: string
                          description: 부스 키워드 전체
                          example: 좋은파우더룸
                        count:
                          type: integer
                          description: 포토부스에서 해당 부스키워드가 전체 몇 번 등록되었는지
                          example: 10
        '500':
          description: 리뷰를 가져오는 중 오류가 발생했습니다.
  '/api/review/boothphoto/{photobooth_id}':
    get:
      tags:
        - Review
      summary: Get photobooth rating and review photos
      description: '해당 포토부스의 평점과 각 리뷰의 첫 번째 사진, 전체 사진 개수를 가져옴'
      parameters:
        - in: path
          name: photobooth_id
          required: true
          schema:
            type: integer
          description: 포토부스의 ID
      responses:
        '200':
          description: 데이터 가져오기 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  rating:
                    type: number
                    format: float
                    description: 포토부스의 평균 평점
                    example: 4.3
                  reviewPhotos:
                    type: array
                    items:
                      type: object
                      properties:
                        Image:
                          type: string
                          description: 각 리뷰의 첫 번째 이미지 URL
                          example: 'https://amazonaws.com/pocket-imagetest2.jpg'
                  totalImageCount:
                    type: integer
                    description: 해당 포토부스의 모든 리뷰 사진 총 개수
                    example: 4
        '404':
          description: 포토부스를 찾을 수 없습니다.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: 해당 부스를 찾을 수 없습니다.
        '500':
          description: 데이터 조회에 실패했습니다.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: 데이터 조회에 실패했습니다.
  /api/map:
    get:
      summary: Get photobooths near the current location
      description: 유저의 현 위치를 기반으로 반경 1km 내의 포토부스 정보를 조회합니다. (유저가 위치 제공 안한다면 학교를 기본값으로 함)
      parameters:
        - in: query
          name: latitude
          schema:
            type: string
            example: '37.6329741'
          description: 유저가 현재 위치하고 있는 장소의 위도
        - in: query
          name: longitude
          schema:
            type: string
            example: '127.0798802'
          description: 유저가 현재 위치하고 있는 장소의 경도
        - in: query
          name: brand
          schema:
            type: string
            example: 포토이즘박스
          description: 필터링할 브랜드명 (옵션)
      responses:
        '200':
          description: 포토부스 정보 조회 성공
          content:
            application/json:
              schema:
                oneOf:
                  - description: 브랜드 필터링이 없을 때의 응답
                    type: object
                    properties:
                      photobooths:
                        type: array
                        description: 1km 반경 내의 포토부스들
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 280
                            name:
                              type: string
                              example: 포토이즘 박스 공릉점
                            latitude:
                              type: number
                              format: float
                              example: 37.6267
                            longitude:
                              type: number
                              format: float
                              example: 127.077
                            brand:
                              type: string
                              example: 포토이즘박스
                            rating:
                              type: number
                              format: float
                              example: 0
                  - description: 브랜드 필터링이 있을 때의 응답
                    type: object
                    properties:
                      brandPhotobooths:
                        type: array
                        description: 필터링한 브랜드에 해당하는 포토부스들
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 280
                            name:
                              type: string
                              example: 포토이즘 박스 공릉점
                            latitude:
                              type: number
                              format: float
                              example: 37.6267
                            longitude:
                              type: number
                              format: float
                              example: 127.077
                            brand:
                              type: string
                              example: 포토이즘박스
                            rating:
                              type: number
                              format: float
                              example: 0
                      otherPhotobooths:
                        type: array
                        description: 필터링한 브랜드에 해당하지 않는 포토부스들
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1162
                            name:
                              type: string
                              example: 포토시그니처 경춘숲
                            latitude:
                              type: number
                              format: float
                              example: 37.6266
                            longitude:
                              type: number
                              format: float
                              example: 127.077
                            brand:
                              type: string
                              example: 포토시그니처
                            rating:
                              type: number
                              format: float
                              example: 0
        '500':
          description: Internal server error.
  /api/map/search:
    get:
      summary: Search photobooths based on a location keyword
      description: 검색어 키워드의 위치를 기반으로 반경 1km 내의 포토부스 정보를 조회합니다.
      parameters:
        - in: query
          name: searchTerm
          schema:
            type: string
            example: 명동역
          description: '검색할 장소의 키워드 (구, 역, 건물명)'
      responses:
        '200':
          description: 검색어 키워드 인근의 포토부스 조회 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  place_name:
                    type: string
                    description: 검색어를 기반으로 표시된 지도의 중심 (검색어가 부정확한 경우 해당 키워드와 가장 가까운 장소로 선정)
                    example: 명동역 4호선
                  photobooths:
                    type: array
                    description: 키워드 장소 반경 1km 내의 포토부스들
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 52
                        name:
                          type: string
                          example: 포토이즘 박스 을지로 2호점
                        latitude:
                          type: number
                          format: float
                          example: 37.566
                        longitude:
                          type: number
                          format: float
                          example: 126.991
                        brand:
                          type: string
                          example: 포토이즘박스
                        rating:
                          type: number
                          format: float
                          example: 0
        '400':
          description: 검색 실패 (검색어가 존재하지 않음)
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: 검색어를 입력하세요.
        '500':
          description: Internal server error.
